<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fairfield Library - Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="page-content">
        <header>
            <div id="branding-logo">
                <h1>Fairfield Library</h1>
            </div>
        </header>
        <main>
            <section class="hero-board">
                <h2>Hero board</h2>
                <article>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, doloribus!</p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, provident minus ut expedita assumenda error ullam, quo dolorum deleniti asperiores blanditiis temporibus, sapiente harum. Quo et dolores labore ex necessitatibus! Sapiente nihil nulla numquam, consequatur vitae totam debitis temporibus sunt autem fugiat! Velit, dolorum! Tempore soluta amet ipsa commodi laboriosam? Magni quia, totam temporibus reprehenderit asperiores aspernatur? Et unde fugit minus rerum, tenetur quas fugiat quisquam nam tempora nulla recusandae nesciunt sit id natus voluptatem eum sapiente autem corporis deserunt suscipit commodi accusamus ad! Aperiam unde id, fuga ex eius, quia dolor ipsa odit labore vitae nemo, eum nostrum minus?
                    </p>
                </article>
                <div>
                    <button class="std-btn">Browse Publishers, Books and more...</button>
                </div>
            </section>
            <section class="text-content">
                <h2>Section Heading</h2>
                <article>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero temporibus aut quasi quos, amet autem ullam natus in fugiat a magni doloremque assumenda nobis eos.
                </article>
            </section>
        </main>
        <footer>
            <div>
                <span>&copy O. Kalu - June 2023</span>
            </div>
        </footer>
    </div>
</body>
</html>